<!DOCTYPE html>
<html ng-app="acrobatApp">
<html>
  <head>
    <meta charset="utf-8">
    <title>League of Acrobats</title>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js">
    </script>
    <script>
      angular.module('acrobatApp', [])
      .controller('AcrobatController', function($scope) {
        $scope.editing = false;
        $scope.acrobats = [
          { name: 'Jordan', act: 'trapeze' },
          { name: 'Katelyn', act: 'high wire' }
        ];
        $scope.addAcrobat = function() {
          $scope.acrobats.push($scope.acrobat);
          $scope.acrobat = {};
        }
        // $scope.removeLastAcrobat = function() {
        //   $scope.acrobats.pop();
        // }
        $scope.editAcrobat = function (acrobat) {
          $scope.editing = true;
          $scope.acrobat = acrobat;
        }
        $scope.updateAcrobat = function () {
          $scope.acrobat = {};
          $scope.editing = false;
        }
        $scope.removeAcrobat = function(index) {
          $scope.acrobats.splice(index, 1);
        }
      });
    </script>
  </head>
  <body ng-controller="AcrobatController">
    <h1>League of Acrobats</h1>
    <form ng-submit="addAcrobat()" ng-hide="editing">
      <input type="text" ng-model="acrobat.name"placeholder="Whats your name?">
      <input type="text" ng-model="acrobat.act" placeholder="whats your act?">
      <button type="submit">Sign Me Up</button>
    </form>

    <form ng-submit="updateAcrobat()" ng-show="editing">
      <input type="text" ng-model="acrobat.name"placeholder="Whats your name?" required>
      <input type="text" ng-model="acrobat.act" placeholder="whats your act?" required>
      <button type="submit">Edit</button>
    </form>

    <div>
        <h2>Member List</h2>
        <ul>
          <li ng-repeat="acrobat in acrobats track by $index">
            The Fabulous {{ acrobat.name }}: Master of {{acrobat.act}}
            <a href="#" ng-click="editAcrobat(acrobat)">(edit)</a>
            <a href="#" ng-click="removeAcrobat($acrobat)">(remove)</a>
          </li>
        </ul>
    </div>
  </body>
</html>
